*{
    margin:0;
    padding: 0;
}
body{
    background-color: mediumseagreen;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.card {
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}
.card:hover{
    border-radius: 0;
    transition: 1s;
    transform: scale(1.1);
}
.card p{
    margin-left: 16px;
    margin-top: 10px;
}
p{
    margin: 10px;
}