*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    background-color: grey;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0;
}
.card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card img {
    width: 60%
}
.card p{
font-size: 25px;
    font-weight: 400;
}
p{
    text-align: center;
    padding: 10px;
}
.card:hover{

    border-radius: 0;
    border: 4px solid rgba(237, 221, 83, 1);
    transition: 1s;
    transform: scale(1.1);
}