*{
    margin: 0;
}
.flex{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightpink;
}
.block{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: 1;
}
.block:hover{
    border-radius: 50%;
    background-color: grey;
    transition: 1s;
}