@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

.Rubik{
    font-family: 'Rubik Pixels', cursive;
}
.Sedgwick{
    font-family: "Sedgwick Ave Display", serif;
}

.Dancing{
    font-family: "Dancing Script", cursive;
}

.Fjalla{
    font-family: Fjalla One, cursive;
}
.Indie{
    font-family: "Indie Flower", cursive;
}


body{
    background-color: antiquewhite;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.card{
    background-color: burlywood;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.card p{
    font-size: 25px;
    font-weight: 400;
}